<?xml version="1.0" encoding="UTF-8"?>

<phpunit 
    colors="true"
    stopOnFailure="false"
    backupGlobals="false"
    backupStaticAttributes="false"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    processIsolation="false"
    syntaxCheck="false"
    cacheTokens="true"
    verbose="false"
    bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="Devlabs91 Generic Ota HotelApi Service Test Suite">
            <directory>tests/src/PHPUnit/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src/</directory>
        </whitelist>
    </filter>
    <php>
        <const name="PHPUNIT_TEST" value="1" />
        <const name="PHPUNIT_CHARSET" value="UTF-8" />
    </php>
</phpunit>
